In [24]:
print("I love python")

I love python

simple calculation

In [ ]:
# age = 23
age + 4

In [21]:
num1 = 2
num2 = 5
num3 = 6
avg = (num1 +num2 + num3)/3
print(avg)

4.333333333333333

# checking of system version

In [14]:
import sys
print(sys.version)

3.11.5 (main, Sep 11 2023, 08:19:27) [Clang 14.0.6 ]

In [15]:
import sys
help(sys.version)

No Python documentation found for '3.11.5 (main, Sep 11 2023, 08:19:27) [Clang 14.0.6 ]'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [18]:
num1 = 50
num2 = 30
mult = num1 * num2
print(mult)

1500

In [23]:
x= 3 + 2 * 2

"The value of x is" + str (x)

'The value of x is7'

In [25]:
y = (3+2)*2
print(y)

10

# How to check data type

In [27]:
12
type(12)

int

In [29]:
"12"
type("12")

str

In [37]:
ages = [23, 45, 67, 89, 12, 34, 12, 34, 8, 39]
ages [2:8]

[67, 89, 12, 34, 12, 34]

# Using slices

In [36]:
ages [::4]

[23, 12, 8]

In [38]:
sum(ages)

363

In [51]:
len(ages)

9

In [41]:
name = "Michael Jackson"
name. find("el")

5

In [42]:
"I like rice".split()

['I', 'like', 'rice']

# write python code to multiply two numbers

In [49]:
ages = [1, 2, 3, 4, 5, 5, 9, 7, 8]
for age in ages:
    print (age)

1
2
3
4
5
5
9
7
8

In [50]:
ages = [1, 2, 3, 4, 5, 5, 9, 7, 8]
new_ages = []
for age in ages:
    if age > 5:
        new_ages. append (age)
new_ages

[9, 7, 8]

In [56]:
Lists = [1, 2, 3, 4, 5, 5, 9, 7, 8]
odd = []
even = []
for n in Lists:
    if (n%2==0):
        print("{} is even".format(n))
    else:
        print("{} is odd". format (n))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
5 is odd
9 is odd
7 is odd
8 is even

In [2]:
for num in range(1,11):
    multiplier = 1
    while multiplier < 10:
        print("{} X {} = {}". format( num, multiplier, num * multiplier))
        multiplier += 1
    print("")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [3]:
for num in range(-5,6):
    multiplier = 1
    while multiplier < 10:
        print("{} X {} = {}". format( num, multiplier, num * multiplier))
        multiplier += 1
    print("")

-5 X 1 = -5
-5 X 2 = -10
-5 X 3 = -15
-5 X 4 = -20
-5 X 5 = -25
-5 X 6 = -30
-5 X 7 = -35
-5 X 8 = -40
-5 X 9 = -45

-4 X 1 = -4
-4 X 2 = -8
-4 X 3 = -12
-4 X 4 = -16
-4 X 5 = -20
-4 X 6 = -24
-4 X 7 = -28
-4 X 8 = -32
-4 X 9 = -36

-3 X 1 = -3
-3 X 2 = -6
-3 X 3 = -9
-3 X 4 = -12
-3 X 5 = -15
-3 X 6 = -18
-3 X 7 = -21
-3 X 8 = -24
-3 X 9 = -27

-2 X 1 = -2
-2 X 2 = -4
-2 X 3 = -6
-2 X 4 = -8
-2 X 5 = -10
-2 X 6 = -12
-2 X 7 = -14
-2 X 8 = -16
-2 X 9 = -18

-1 X 1 = -1
-1 X 2 = -2
-1 X 3 = -3
-1 X 4 = -4
-1 X 5 = -5
-1 X 6 = -6
-1 X 7 = -7
-1 X 8 = -8
-1 X 9 = -9

0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [6]:
Genres = [ 'rock', 'soul', 'pop']
for x in Genres:
    print (x)

rock
soul
pop

# create a for loop

In [9]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10 ]

for rating in PlayListRatings:
    if rating < 6:
        break
    print(rating)

10
9.5
10
8
7.5

# create while loop

In [11]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10 ]

rating_indx = -1
while rating_indx < len(PlayListRatings) - 1:
    
    rating_indx = rating_indx + 1
    if PlayListRatings [rating_indx] < 6:
        break
    print(PlayListRatings[rating_indx])

10
9.5
10
8
7.5

In [12]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10 ]

rating_indx = 0
while rating_indx < len(PlayListRatings) - 1:
    
    if PlayListRatings [rating_indx] < 6:
        break
    print(PlayListRatings[rating_indx])
    
    rating_indx = rating_indx + 1

10
9.5
10
8
7.5

# Tuples in python

In [16]:
names = ("Florence", "Mustapha", "Adejoke")
ages = (12,13,54)

list (zip(names, ages))

[('Florence', 12), ('Mustapha', 13), ('Adejoke', 54)]

# sorting

In [21]:
dare = [6,6,7,8,9]
sorted(dare, reverse=True)

[9, 8, 7, 6, 6]

In [24]:
Tuple = (6,6,7,8,9)
Tuple [0:2]

(6, 6)

In [ ]:
sorting tuple

In [25]:
Tuple = (-5,6,6,7,8,9)
sorted (Tuple)

[-5, 6, 6, 7, 8, 9]

 # sets

In [28]:
set = {'pop', 'rock', 'rock','R&B', 'disco'}
print (set)

{'pop', 'rock', 'disco', 'R&B'}

In [38]:
A = {'NYSC','KADRIMA'}
A.add ("KDBS")
print (A)

{'KADRIMA', 'KDBS', 'NYSC'}

In [39]:
A = {'NYSC','KADRIMA', 'KDBS'}
A.remove ("KDBS")
print (A)

{'KADRIMA', 'NYSC'}

In [ ]:
INTERSECTION

In [41]:
intersection = {1,2} & {3,2}
print (intersection)

{2}

In [55]:
set {1,2}.union {4,5,3}

SyntaxError: invalid syntax (969312536.py, line 1)